@import '../assets/styles/variables';

.wrapper {
  padding: 0 20px;
  max-width: 1220px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .burger {
    position: relative;

    > button {
      font-size: 1.5rem;
      background-color: #fff0;
      border: none;
      cursor: pointer;
    }

    nav {
      position: absolute;
      top: calc(100% + 6px);
      background-color: #fff;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
      border-radius: .25rem;
      padding: 0.2rem 0;
      display: none;
      animation: emergence .4s;
      &.open {
        display: block;
      }
      li {
        display: block;
        > a {
          display: block;
          padding: .5rem 1.5rem;
          color: #222;
          transition: .4s ease;
          will-change: color;
          text-decoration: none;
          &:hover {
            color: $accent;
          }
        }
      }
    }
  }
  .profile {
    border: none;
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    height: 50px;
  }
}

@keyframes emergence {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}