<div class="wrapper">
  <header class="header">

    <div class="burger">
        <button (click)="toggleHamburger()">
          <mat-icon aria-hidden="false" aria-label="Home">menu</mat-icon>
        </button>
      <nav [ngClass]="{ open: isOpenHamburger }">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Popular</a></li>
          <li><a href="#">News</a></li>
        </ul>
      </nav>
    </div>
    <button class="profile">
     <img src="assets/img/user.jpg" alt="">
    </button>
  </header>
</div>